[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "carbondate"]
	path = carbondate
	url = https://github.com/tjheaton/carbondate
